
<h1><%= @lesson.title %> </h1>

<ul class="list-group">
<% @lesson.cards.each do |card| %>

<li class="list-group-item">
<%= image_tag card.image_url(:thumb) , height: "80",width: "100" if card.image?  %>
<%= card.title %>

</li>


<% end %>

 
</ul>
<div class="btn-group">
  <%= link_to('Add Cards', cards_path, :method => :get,:class => "btn btn-warning") %>                      
<%=link_to "play!", "/menus/show", :type => "button", :class => "btn btn-primary" , :id => "playButton" %>
<!--style type="text/css">#playButton{position:fixed; margin-left: 70%;margin-top: 25% }</style -->
  </div>
